### Tuples
Ordered, Immutable, has/allows duplicates (Not unique). Tuples are more efficient and faster than lists. <br>
Unpacking:

In [1]:
mytup = (0, 1, 2, 3, 4)
start , *elements , end = mytup
print('start: {}\nelements:{}\nend:{}'.format(start, elements, end))

start: 0
elements:[1, 2, 3]
end:4

### Sets
Unordered, mutable, unique.

In [2]:
a = frozenset({1, 2}) #if you want your set to be mutable
try:
    a.add(3)
except Exception as E:
    print(E)

'frozenset' object has no attribute 'add'

You can .add(), .remove(), .pop(), .clear() from a set. Except that add() adds a value at an arbitrary index and pop() removes at an arbitrary index since sets are **unordered**.

In [3]:
addpop = {1, 2, 5, 3, 6}
addpop.add(7)
print(addpop)
addpop.pop()
print(addpop)

{1, 2, 3, 5, 6, 7}
{2, 3, 5, 6, 7}

### Set Theory: union, intersection, and difference

In [4]:
odds = {1, 3, 5}
evens = {2, 4, 6}

**.union() joins all number from both sets without duplication.** <br>You can use it to join two sets.

In [5]:
odds.union(evens)

{1, 2, 3, 4, 5, 6}

In [6]:
numbers = odds.union(evens)
numbers

{1, 2, 3, 4, 5, 6}

**.intersection() returns the elements in common.**

In [7]:
numbers.intersection(evens)

{2, 4, 6}

**.difference() returns elements strictly in setA and excluding common ones with setB.**<br>
for setA.difference(setB)

In [8]:
numbers.difference(evens)

{1, 3, 5}

In [9]:
setA = {1,2,3,4,5}
setB = {4,5,6,7,8}
setA.symmetric_difference(setB) # setA + setB - (setA intersection setB) = {1,2,3,4,5} + {4,5,6,7,8} - {4,5} = {1,2,3,6,7,8}

{1, 2, 3, 6, 7, 8}

In [10]:
numbers.issubset(evens) #returns True if 'evens' is a subset of 'numbers'

False

In [11]:
evens.isdisjoint(odds) #returns True if 'evens' doesn't interset or have elements in common with 'odds'

True

***.update() adds elements of setB to setA***<br>for setA.update(setB)

In [12]:
numbers.update({0, 9, 10})
print(numbers)

{0, 1, 2, 3, 4, 5, 6, 9, 10}

In [13]:
setA = {1,2,3,4,5}
setB = {4,5,6,7,8}
setA.intersection_update(setB) # (setA intersection setB) = {4,5}
setA

{4, 5}

Assigns the intersection of numbers: {0, 1, 2, 3, 4, 5, 6, 9, 10} with evens: {2, 4, 6}, which is the elements in common between the two to numbers.

In [14]:
setA = {1,2,3,4,5}
setB = {4,5,6,7,8}
setA.difference_update(setB) # setA - (setA intersection setB) = {1,2,3,4,5} - {4,5} = {1,2,3}
setA

{1, 2, 3}

### Collections: counter, namedtuple, ordereddict, defaultdict, deque

#### Counter
Counter is a subclass of dict. Constructing it is O(n), because it has to iterate over the input, but operations on individual elements remain O(1).

In [15]:
from collections import Counter
a = "abbccc"
mycount = Counter(a) # -> returns a dictionary with occurences of each element.
print(mycount)

Counter({'c': 3, 'b': 2, 'a': 1})

In [16]:
mycount.most_common() #-> returns list of ordered tuples by frequency.

[('c', 3), ('b', 2), ('a', 1)]

In [17]:
mycount.most_common(1) #-> max

[('c', 3)]

In [18]:
list(mycount.elements()) #-> returns iterable obj that can be converted to a list

['a', 'b', 'b', 'c', 'c', 'c']

#### namedtuple
Object = namedtuple(class name, field or fields separated by a comma or space)

In [19]:
from collections import namedtuple

Point = namedtuple('Point', 'x y z')
p1 = Point(1,2,3)
print(p1)

Point(x=1, y=2, z=3)

In [20]:
p1.x

1

#### OrderedDict
Dictionary that remembers the order of insertion (Although this is now garanteed by version of python 3.7 and superior for normal dictionaries)

In [21]:
from collections import OrderedDict

ord_dic = OrderedDict()

ord_dic['fruit'] = ['apple', 'kiwi']
ord_dic['vegetable'] = ['potato', 'carrot']

print(ord_dic)

OrderedDict([('fruit', ['apple', 'kiwi']), ('vegetable', ['potato', 'carrot'])])

#### defaultdict
A dictionary for which you can set default values if the key hasn't been set yet. Instead of getting an error, you get the default val.

In [22]:
from collections import defaultdict

defdict = defaultdict(int)
print(defdict['key isnt set yet'])

0

#### deque
Mutable, ordered, has/allows duplicates <br>
Deque stands for doubly ended queue, an abstract data type from which we can remove or add elements at the head and the tail. It's preferable to a list, as deque provides an O(1) time complexity for append and pop operations as compared to list which provides O(n) time complexity.

In [23]:
from collections import deque

d = deque([0,0,0])
d

deque([0, 0, 0])

In [24]:
d.append(1)
d

deque([0, 0, 0, 1])

In [25]:
d.appendleft(2)
d

deque([2, 0, 0, 0, 1])

In [26]:
d.pop()
d

deque([2, 0, 0, 0])

In [27]:
d.popleft()
d

deque([0, 0, 0])

In [28]:
d.clear()
d

deque([])

In [29]:
d.extend([1,2,3,'tail'])
d

deque([1, 2, 3, 'tail'])

In [30]:
d.extendleft([0, 'head'])
d

deque(['head', 0, 1, 2, 3, 'tail'])

In [31]:
d.rotate()
d

deque(['tail', 'head', 0, 1, 2, 3])

In [32]:
d.rotate(-1)
d

deque(['head', 0, 1, 2, 3, 'tail'])

### Itertools: product, permutations, combinations, accumulate, groupby and infinite iterations

#### product
product() is used to find the cartesian product from the given iterator, output is lexicographic ordered.

In [33]:
from itertools import product

a = [1, 2]
b = [3, 4]
prod = product(a, b) #-> iterable of cartesian product of a and b.
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]

|a x b | 1 | 2   |
| --- | --- | --- |
|3|(1, 3)|(2, 3)|
|4|(1, 4)|(2, 4)|

In [34]:
a = [1, 2]
b = [3]
prod = product(a, b)
print(list(prod))

[(1, 3), (2, 3)]

In [35]:
print(list(product(a,b, repeat=2)))

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

#### permutations
A permutation is a mathematical technique that determines the number of possible arrangements in a set when ***the order of the arrangements matters***. <br> P(n,r) = n!(n-r)!

In [36]:
from itertools import permutations

a = [1,2,3]
perm = permutations(a)

print(list(perm)) #-> list of an iterable with all possible arrangement of [1,2,3] with no repetitions

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [37]:
perm = permutations(a, 2) 

print(list(perm)) #->  list of all possible arrangement of 2 elements from [1,2,3] with no repetitions of elts

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

#### combinations
A combination is a mathematical technique that determines the number of possible arrangements in a collection of items where ***the order of the selection does not matter***.

In [38]:
from itertools import combinations

a = [1, 2, 3]
comb = combinations(a, 2) #-> second argument is an obligatory parameter

print(list(comb)) #-> all possible combinations of 2 elements from a with no repetitions of elts and no care for order

[(1, 2), (1, 3), (2, 3)]

#### combinations with replacement
Combination with replacement in probability is selecting an object from an unordered list multiple times.

In [39]:
from itertools import combinations_with_replacement

a = [1, 2, 3]
combwr = combinations_with_replacement(a, 2)

print(list(combwr))  #-> all possible combinations of 2 elements from a with repetitions of elts and no care for order

[(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

#### accumulate
This iterator takes two arguments, iterable target and the function which would be followed at each iteration of value in target. If no function is passed, addition takes place by default.

In [40]:
from itertools import accumulate
import operator

a = [2, 3, 4, 5, 6]

acc = accumulate(a)
list(acc)

[2, 5, 9, 14, 20]

In [41]:
acc = accumulate(a, operator.mul)
list(acc)

[2, 6, 24, 120, 720]

In [42]:
acc = accumulate(a, min)
list(acc)

[2, 2, 2, 2, 2]

#### groupby
This method calculates the keys for each element present in iterable. It returns key and iterable of grouped items. <br>
***note:*** THE INPUT DATA NEEDS TO BE SORTED!

In [48]:
from itertools import groupby

person = [ {'name': 'Jim', 'age': 25},  {'name': 'Daniel', 'age':25},
           {'name':'Mary', 'age': 27},  {'name': 'Clara', 'age':24} ]

groupobj = groupby(person, key=lambda x: x['age'])
groupobj

In [49]:
for k, v in groupobj:
    print(k, list(v))

25 [{'name': 'Jim', 'age': 25}, {'name': 'Daniel', 'age': 25}]
27 [{'name': 'Mary', 'age': 27}]
24 [{'name': 'Clara', 'age': 24}]

#### Infinite Iterators

In [51]:
from itertools import count, cycle, repeat

for i in count(10): #infinite loop starting the count from 10
    print(i)
    if i == 15:
        print('stop')
        break

10
11
12
13
14
15
stop

In [53]:
sum = 0
for i in cycle([1, 2, 3]): #infinite loop that cycle on 1, 2, 3
    print(i)
    sum +=1
    if sum == 6:
        break

1
2
3
1
2
3

In [54]:
sum = 0
for i in repeat('no'):
    print(i)
    sum += 1
    if sum == 4:
        break

no
no
no
no

In [55]:
for i in repeat('no', 4):
    print(i)

no
no
no
no

### Lambda
Functions!

In [56]:
add10 = lambda x: x+10
print(add10(10))

20

In [61]:
points = [(i, y) for i in range(0,3) for y in range(2,5)]
points

[(0, 2), (0, 3), (0, 4), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4)]

In [62]:
points_S = sorted(points, key= lambda x: x[1])
points_S

[(0, 2), (1, 2), (2, 2), (0, 3), (1, 3), (2, 3), (0, 4), (1, 4), (2, 4)]

In [66]:
a = list(range(1,6))
a

[1, 2, 3, 4, 5]

***map + lambda***

In [65]:
b = map(lambda x: x*2, a)
list(b)

[2, 4, 6, 8, 10]

***filter + lambda***

In [67]:
b = filter(lambda x: x%2 == 0, a)
list(b)

[2, 4]

***reduce + lambda***

In [68]:
from functools import reduce
b = reduce(lambda x, y: x*y, a)
b

120